<% if(locals.user) { %>

    <div id="user-chat-box">

        <ul id="chat-messages-list">
            <li class="other-message">
                lahoti mc
            </li>
            <li class="self-message">
                ranjan mc
            </li>
        </ul>

        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type message here">
            <button id="send-message">Send</button>
        </div>

    </div>

<% } %>