<div class="post-content">
    <% if (locals.user && locals.user.id == post.user.id) { %>
        <small>
            <a href="/posts/destroy/<%= post.id %>"> X </a>
        </small>
    <% } %>
    <%= post.content %>
    <br />
    <small class="user-name">- <%= post.user.name %> </small>
    <br />
  </div>