<div class="sign-box"> 
    <h1 class="title"> Sign up</h1>
    <form action="/users/create" method="post">
        <input class="top-name" type="text" name="name" placeholder="Your Name" required>
        <br>
        <input type="email" name="email" placeholder="Your Email" required>
        <br>
        <input type="password" name="password" placeholder="Password" required>
        <br>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <br>
        <input class="submit-button" type="submit" value="Sign Up">
    </form>
    <p>
       <div class="Or">
         OR 
       </div>
       <div class="Google">
        <a href="/users/auth/google"> Sign up via Google </a>
       </div>
    </p>
</div>



