body {
  margin: 0;
  background-color: salmon;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; }

#post-list-container {
  height: 4rem; }
  #post-list-container ul {
    float: left;
    position: relative;
    height: 100%; }
    #post-list-container ul li {
      padding: 12px;
      position: relative;
      display: inline-block;
      background-color: white;
      border: 2px solid black;
      border-radius: 8px; }
      #post-list-container ul li #user-name {
        float: right; }
